.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  font-size: 36px;
  margin: 1%;
}

.Grid {
  display: grid;
}

.buttons {
  display: flex;
}

.buttons button {
  margin: 2%;
  width: 100px;
  height: 25px;
  border-radius: 5px;
}

.color-buttons {
  display: flex;
}

.color-buttons button {
  margin: 2%;
  width: 100px;
  height: 25px;
  border-radius: 5px;
}

.Info {
  text-align: center;
  width: 45%;
  margin: 2%;
}

.Info li {
  width: 40%;
  margin: auto;
}